<section class="hero is-large is-info is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Hello, I am Andrew.
      </h1>
      <h2 class="subtitle">
        I am a Software Engineer currently living in Birmingham, Alabama.
      </h2>
    </div>
  </div>
</section>



<div class="container container-content">
  <div class="columns is-centered">
    <div class="column is-half">
      <p>
        I'm passionate about learning new things everyday and work to expand my skills. I'm a big fan of blogging or sharing what you're learning and strive to do so when possible.
      </p>

      <p>You can find me on <a href="https://twitter.com/AndrewFomera">Twitter</a> or on other social media sites by looking up Andrew Fomera.
        If you like checking out code you can find me on <%= link_to "GitHub", "https://github.com/king601" %>. </p>
    </div>

    <div class="column is-half">
      <h3 class="title">Recent Blog Posts</h3>
      <% @posts.each do |post| %>
        <h4><%= link_to post.title, post %></h4>
        <p class="date"><%= post.created_at.strftime("%A, %b %d") %></p>
      <% end %>
      <% if @posts.empty? %>
        <p>Sorry no posts were found. Check back soon!</p>
      <% else %>
        <%= link_to "View All Posts", posts_path, class: "btn bordered" %>
      <% end %>
    </div>

  </div>
</div>
