<div class="page-heading">
  <h4 class="page-title">Thanks for emailing me!</h4>
</div>

<div class="row">
  <div class="col-md-8 offset-md-2">
    <div class="card card-body mb-3">
        I'll get back to you soon!
    </div>
  </div>
</div>
