<div class="page-heading">
  <h4 class="page-title">My Projects</h4>
</div>

<% if user_signed_in? && current_user.admin? %>
  <div class="row">
    <div class="col-sm-4 offset-sm-4">
      <%= link_to(new_project_path,
        class: "card card-link mb-2") do %>
        <div class="card-body text-muted text-center d-flex align-items-center justify-content-center">
          <i class="mr-3" data-feather="plus-square"></i>
          <h6 class="mb-0">Add a Project</h6>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-md-8 offset-md-2">
    <% if @projects.empty? %>
      <div class="card">
        <div class="card-content">
          <p class="title">
            Whoops! No projects could be found!
          </p>
          <p class="subtitle">
            Please check back soon.
          </p>
        </div>
      </div>
    <% end %>

    <%= render(@projects) %>

    <%= will_paginate @projects %>
  </div>
</div>
