<section class="hero is-light">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        My Projects
      </h1>
      <h2 class="subtitle">
        Things I have built or worked on.
      </h2>
    </div>
  </div>
</section>

<div class="container container-content">
  <div class="columns">
    <div class="column">
      <% if @projects.empty? %>
        <div class="card">
          <div class="card-content">
            <p class="title">
              Whoops! No projects could be found!
            </p>
            <p class="subtitle">
              Please check back soon.
            </p>
          </div>
        </div>
      <% end %>

      <%= render(@projects) %>

      <%= will_paginate @projects, renderer: BulmaPagination::Rails %>
    </div>
  </div>
  <% if user_signed_in? && current_user.admin? %>
      <div class="container">
        <nav class="level">
          <div class="level-left"></div> <!-- Do not remove this level-left -->
          <div class="level-right">
            <p class="level-item">
              <%= link_to "New Project", new_project_path,
                class: "button is-primary" %>
            </p>
          </div>
        </nav>
      </div>
  <% end %>
</div>
