<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        My Projects
      </h1>
      <h2 class="subtitle">
        Things I have built or worked on.
      </h2>
    </div>
  </div>
</section>


<div id="projects_list" class="skinny_container container_padding">


  <div class="container container-content">
    <div class="columns">
      <div class="column">
        <% if @projects.empty? %>
            <h4>Whoops! No projects could be found. <br />Please check back soon!</h4>
        <% end %>

        <%= render(@projects) %>

        <%= will_paginate @projects %>

        <% if user_signed_in? && current_user.admin? %>
          <%= link_to "New Project", new_project_path,
            class: "button is-primary" %>
        <% end %>
      </div>
    </div>
  </div>
