<div class="card my-4">
  <div class="card-body">
    <h4 class="card-title">
      <%= link_to post.title, post_path(post) %>
    </h4>

    <% if !post.published? %>
      <div class="alert alert-warning" role="alert">
        This post is a draft post and is currently not published.
      </div>
    <% else %>
      <p>Posted on: <%= post.created_at.strftime('%A, %B %d, %Y') %></p>
    <% end %>

    <%= link_to "Read More", post_path(post), class: "card-link" %>
  </div>
</div>
