<div class="card">
  <header class="card-header">
    <%= link_to post.title, post_path(post), class: "card-header-title" %>
  </header>

  <div class="card-content">
    <div class="content">
      Posted on: <%= post.created_at.strftime('%A, %B %d, %Y') %>
      <%= link_to "Read More", post_path(post), class: "button is-primary is-bordered" %>
    </div>
  </div>
</div>
<hr />
