<div class="page-heading">
  <h4 class="page-title">Blog Posts</h4>
</div>

<% if user_signed_in? && current_user.admin? %>
  <div class="row">
    <div class="col-sm-4 offset-sm-4">
      <%= link_to(new_post_path,
        class: "card card-link mb-2") do %>
        <div class="card-body text-muted text-center d-flex align-items-center justify-content-center">
          <i class="mr-3" data-feather="plus-square"></i>
          <h6 class="mb-0">Write a new Post</h6>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-md-8 offset-md-2">
    <% if @posts.empty? %>
      <div class="card">
        <div class="card-content">
          <p class="title">
            Whoops! No posts could be found!
          </p>
          <p class="subtitle">
            Please check back soon.
          </p>
        </div>
      </div>
    <% end %>

    <% if user_signed_in? && current_user.admin? %>
      <% @unpublished_posts.each do |unpublished_post| %>
        <%= render "post", post: unpublished_post %>
      <% end %>
    <% end %>

    <%= render(@posts) %>
    <%= will_paginate @posts, renderer: BulmaPagination::Rails %>
  </div>
</div>
