<h1 id="page_title">My Blog</h1>

<div id="posts_container" class="skinny_container">

  <% @posts.each do |post| %>
  		<div class="post">
  			<p class="date"><%= post.created_at.strftime('%A, %B %d') %></p>
  			<h2><%= link_to post.title, post %></h2>
  			<hr>
  		</div>
  	<% end %>

    <% if @posts.empty? %>
      <div class="post">
        <h4>Whoops! No posts could be found. <br />Please check back soon!</h4>
      </div>
    <% end %>

    <%= will_paginate @posts %>
</div>
