<section class="hero is-dark">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Blog
      </h1>
      <h2 class="subtitle">
        Things I have to say.
      </h2>
    </div>
  </div>
</section>


<div class="container container-content">
  <div class="columns">
    <div class="column">
      <% if @posts.empty? %>
        <div class="card">
          <div class="card-content">
            <p class="title">
              Whoops! No posts could be found!
            </p>
            <p class="subtitle">
              Please check back soon.
            </p>
          </div>
        </div>
      <% end %>

      <% if user_signed_in? && current_user.admin? %>
        <% @unpublished_posts.each do |unpublished_post| %>
          <%= render "post", post: unpublished_post %>
        <% end %>
      <% end %>

      <%= render(@posts) %>

      <%= will_paginate @posts, renderer: BulmaPagination::Rails %>

      <% if user_signed_in? && current_user.admin? %>
        <nav class="level">
          <div class="level-left"></div> <!-- Do not remove this level-left -->
          <div class="level-right">
            <p class="level-item">
              <%= link_to "New Post", new_post_path,
                class: "button is-primary" %>
            </p>
          </div>
        </nav>
      <% end %>
    </div>
  </div>
</div>
