
 @import "bulma";
 @import "font-awesome";
 @import "pygments";
 @import "andrewfomera/variables";

  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  .wrapper {
   flex: 1;
  }

  .level {
    padding-bottom: 2em;
  }

  .navbar-brand {
    font-weight: bold;
    font-size: 24px;
  }

  .container-content {
    padding-top: 2em;
  }

  h1, h2, h3, h4, h5, h6, p, ul, li {
    color: $dark;
  }
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1.375rem;
  }
  h5 {
    font-size: 1.25rem;
  }
  h6 {
    font-size: 1rem;
  }
  #share_box {
    text-align: center;
    p {
        padding: 0 0 1em 0;
        margin: 0;
        font-weight: 700;
        text-transform: uppercase;
        color: $dark;
        font-size: 1em;
    }
    i {
        color: $dark;
        padding: 1em 1.5em;
        &:hover {
            color: $primary;
            cursor: pointer;
        }
    }
  }

  .video-container {
      position: relative;
      padding-bottom: 56.25%;
      padding-top: 30px; height: 0; overflow: hidden;
  }

  .video-container iframe,
  .video-container object,
  .video-container embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
  }
