<footer class="footer container-content">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <strong>&copy; 2014-<%= Time.zone.now.year %> Andrew Fomera</strong>
      </p>
      <p>
        <a href="https://twitter.com/AndrewFomera" target="_blank" class="icon">
          <i class="fa fa-twitter"></i>
        </a>
        <a href="https://facebook.com/AndrewFomera" target="_blank" class="icon">
          <i class="fa fa-facebook"></i>
        </a>
        <a href="https://github.com/king601" target="_blank" class="icon">
          <i class="fa fa-github"></i>
        </a>
      </p>
    </div>
  </div>
</footer>
