<footer id="footer">
    <p class="copyright">
      &copy; 2015-2016 Andrew Fomera
    </p>
    <nav>
      <a href="https://twitter.com/AndrewFomera" target="_blank"><i class="fa fa-twitter"></i></a>
      <a href="https://facebook.com/AndrewFomera" target="_blank"><i class="fa fa-facebook"></i></a>
      <a href="https://github.com/king601" target="_blank"><i class="fa fa-github"></i></a>
    </nav>
  </footer>
