<header id="header" class="clearfix">
      <%= link_to "Andrew Fomera", root_path, class: "brand" %>
      <nav>
        <%= link_to "Blog", root_path %>
        <%= link_to "Projects", root_path %>
        <%= link_to "Contact", root_path %>
      </nav>
  </header>
