<header id="header" class="clearfix">
      <a href="#" class="brand">Andrew Fomera</a>
      <nav>
        <a href="articles.html">Blog</a>
        <a href="projects.html">Projects</a>
        <a href="contact.html">Contact</a>
      </nav>
</header>
