<!DOCTYPE html>
<html>
  <head>
    <title>Andrew Fomera - Software Engineer</title>
    <%= render("shared/meta-tags") %>
  </head>

  <body class="<%= body_classes %>">
    <%= yield %>
    <%= render("shared/footer") %>
  </body>
</html>
